
.input{
/* Frame 47 */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 20px;

position: absolute;
width: 300px;
height: 30px;
left: 200px;
top: 20px;

border: 2px solid #000000;
filter: drop-shadow(20px 20px 60px rgba(57, 219, 0, 0.78));
border-radius: 50px;

}

.logo{
    /* image-removebg-preview (2) 1 */


position: absolute;
width: 100px;
height: 75px;
left: 50px;
top: 20px;
box-shadow: 3px 3px 30px 10px rgba(10, 10, 10, 0.5);
}
.search{
    /* Frame 47 */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 20px;
border: #37D200;

position: absolute;
width: 358px;
height: 33px;
left: 227px;
top: 34px;

border: 2px solid #000000;
filter: drop-shadow(20px 20px 60px rgba(57, 219, 0, 0.2));
border-radius: 50px;
}

.mmi{
white-space: nowrap;
position: relative;
padding-left: 5%;
width: 100px;
height: 30px;
left: 500px;
top: 20px;

font-family: 'Acme';
/*font-style: normal;
*/
font-weight: 1000;
font-size: 30px;
line-height: 30px;

color: #000000;

mix-blend-mode: normal;

border: 0px solid rgba(0, 0, 0, 0.1);
text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}
.mmi:hover{
    color: rgb(56, 178, 95);
     
    
}
.joinus{
    /* Frame 8 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
border: #37D200;
position: fixed;
width: 150px;
height: 30px;
left: 1300px;
top: 55px;
font-family: 'Acme';
/*font-style: normal;
*/
color: aliceblue;
font-weight: 1000;
font-size: 20px;
line-height: 30px;

/* c1 */

background: linear-gradient(106deg, #37D200 8.28%, #1E7300 100%);
/* green */

box-shadow: 20px 20px 70px rgba(69, 3, 190, 0.3);
}
.joinus:hover{
    color: rgb(56, 178, 95);
     
}

.cart{
    /* Frame 8 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
border: #37D200;
position: absolute;
width: 150px;
height: 30px;
left: 1300px;
top: 10px;
font-family: 'Acme';
/*font-style: normal;
*/
color: aliceblue;
font-weight: 1000;
font-size: 20px;
line-height: 30px;

/* c1 */

background: linear-gradient(106deg, #37D200 8.28%, #1E7300 100%);
/* green */

box-shadow: 20px 20px 70px rgba(69, 3, 190, 0.3);
}
.cart:hover{
    color: rgb(56, 178, 95);
     
}
.line{
    /* Line 6 */


position: absolute;
width: 1400px;
height: 0px;
left: 50px;
top: 100px;

border: 1px solid #33C600;
}
.sidebar{
    
position: absolute;
width: 50px;
height: 1000px;
left: 0px;
top: 0px;

border: 1px solid #33C600;
}
.menu{
    
        /* Frame 8 */
    
    
    /* Auto layout */
    white-space: nowrap;
    display: flex;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 500px;
    border: 2px solid #37D200;
    position: relative;
    width: 300px;
    height: 10px;
    left: 50px;
    top: 80px;
    font-family: 'Acme';
    border-radius: 5%;
    /*font-style: normal;
    */
    color: aliceblue;
    font-weight: 1000;
    font-size: 18px;
    line-height: 30px;
   
    
    /* c1 */
    
    background:#757575;
    /* green */
    
    box-shadow: 20px 20px 70px rgba(69, 3, 190, 0.3);
    
    
    }
    .menu:hover{
        color: rgb(57, 177, 95);        
    
}
.slick-slider {  
    width: 90%;  
    margin: auto;
    
  } 
.ss{
    /* Segment */


position: absolute;
width: 1000px;
height: 1000px;
left: 800px;
top: 120px;
display: flexbox;


filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.background1{
    /* Rectangle 133 */


box-sizing: border-box;

position: absolute;
width: 1400px;
height: 500px;
left: 50px;
top: 110.97px;
opacity: 100%;
border: #000000;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(243, 176, 176, 0) 100%);
border: 1px solid #ECE4E4;
filter: drop-shadow(20px 20px 20px rgba(50, 25, 25, 0.80));
}
.logo1{
    position: absolute;
width: 100px;
height: 75px;
left: 500px;
top: 220px;
box-shadow: 3px 3px 30px 10px rgba(10, 10, 10, 0.5);

}

.background2{
    /* Rectangle 133 */


box-sizing: border-box;

position: absolute;
width: 1400px;
height: 300px;
left: 50px;
top: 670px;
opacity: 100%;
border: #000000;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(243, 176, 176, 0) 100%);
border: 1px solid #ECE4E4;
filter: drop-shadow(20px 20px 20px rgba(50, 25, 25, 0.80));
}
.rect{/* Rectangle 58 */


    position: absolute;
    width: 670px;
    height: 40px;
    left: 50px;
    top: 620px;
    border: #33C600;
    font-size: larger;
    font-weight: 1000;
    color: #ECE4E4;
    filter: drop-shadow(20px 20px 20px rgba(50, 25, 25, 0.80));

    
    /* c1 */
    
    background: linear-gradient(106deg, #37D200 8.28%, #1E7300 100%);
    /* green */
    
    box-shadow: 20px 20px 70px rgba(57, 219, 0, 0.3);
    border-radius: 0px 20px 20px 0px;
    /* Product Gallery 


    position: absolute;
    width: 228.92px;
    height: 18.13px;
    left: 262.17px;
    top: 630.94px;
    padding: 12%;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;*/
}
.sidebar{
    /* Rectangle 90 */


position: fixed;
width: 50px;
height: 2620px;
left: -5px;
top: 0px;
border-radius: 10px;
background: #747574;
}
.sidebar1{
    /* Rectangle 90 */


position: fixed;
width: 50px;
height: 2620px;
left: 1455px;
top: 0px;
border-radius: 10px;

background: #747574;
}

ngb-carousel .wrapper {
    position: absolute;
    height: 0;
    padding-top: 5%; /* Keep ratio for 900x500 images */
  }
  ngb-carousel .wrapper>img {
    position: relative;
    top: 0;
    left: 400px;
    bottom: -30%;
    right: 0;
  }